body{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.main{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 6%;
}

.side_bar{
    display: flex;
    max-width: 500px;
    height: auto;
    position: relative;
}

.transparent {
    display: flex;
    height: 20vh;
    width: 100%;
    justify-content: center;
    position: absolute;
    margin-top: 25vh;
    background: rgba(0, 0, 0, .6);
}

#big_image{
    width: 100%;
}

h3{
    margin-right: 25%;
}

.names, .info, .passwords, h3{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}

.form{
    background-color: rgb(230, 224, 224);
}

button{
    width: 150px;
    
}

.first, .last, .email, .phone, .pass, .confirm{
    display: flex;
    flex-direction: column;
    padding-right: 6%;
    margin-bottom: 20px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: #E5E7EB;
    border-radius: 5px;
}

.bottom {
    margin-left: 5%;
    margin-top: 2%;
}